.container {
  width: 100%;
  height: auto;
  position: relative;
}
.banner {
  width: 100%;
  height: 480px;
}
.today_list {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.sub_banner {
  width: 100%;
  height: 345px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
}
.sub_banner > img {
  width: 300px;
  height: 300px;
  position: relative;
  top: 1.5rem;
}

.sub_list {
  width: 100%;
  min-height: 680px;
  height: auto;
  margin-top: 40px;
}

.inner {
  position: relative;
  width: 63%;
  height: auto;
  margin: 0 auto;
}
.sub_inner {
  position: relative;
  width: 63%;
  height: auto;
  margin: 40px auto;
}

.inner {
  position: relative;
  width: 63%;
  height: auto;
  margin: 0 auto;
}
.title {
  position: relative;
}
.style_title {
  font-family: pretendard;
  font-weight: 700;
  font-size: 23px;
  top: 20px;
}
.location {
  position: relative;
  bottom: 1px;
  font-family: pretendard;
  font-weight: 500;
  font-size: 15px;
  color: #9b9999;
}
@media screen and (min-width: 1560px) and (max-width: 1600px) {
  .inner {
    width: 70%;
  }
  .sub_inner {
    width: 70%;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1560px) {
  .inner {
    width: 80%;
  }
  .sub_inner {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .inner {
    width: 90%;
  }
  .sub_inner {
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inner {
    width: 95%;
  }
  .banner {
    height: 480px;
  }
  .sub_inner {
    width: 95%;
  }
}
@media screen and (min-width: 390px) and (max-width: 768px) {
  .inner {
    width: 95%;
  }
  .banner {
    height: 380px;
  }
  .sub_inner {
    width: 95%;
  }
  .sub_banner {
    height: 230px;
  }
  .sub_banner > img {
    width: 200px;
    height: 200px;
    top: 1rem;
  }
}
@media screen and (max-width: 390px) {
  .inner {
    width: 97%;
  }
  .banner {
    height: 380px;
  }
  .sub_inner {
    width: 97%;
  }
  .sub_banner {
    height: 230px;
  }
  .sub_banner > img {
    width: 200px;
    height: 200px;
    top: 1rem;
  }
}
