.container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.title {
  font-family: pretendard;
  font-weight: 600;
  font-size: 20px;
  margin: 50px 0 20px 7px;
}

.input_container {
  width: 1040px;
  margin: 100px auto;
}

.form {
  text-align: center;
}

.input {
  width: 500px;
  border: 0;
  border-bottom: 3px solid #222;
  font-family: pretendard;
  font-size: 25px;
  color: #000;
}

.item_area {
  width: 1040px;
  margin: 0 auto;
}

.row {
  width: 100%;
}

.li_container {
  width: 100%;
  position: relative;
}

.cody_li {
  width: 223px;
  height: 360px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 15px;
}

.cody_img_container {
  width: 223px;
  height: 306px;
  border-radius: 22px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item_container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.item_category {
  margin-top: 5px;
}
.item_category > :nth-child(1) {
  font-family: pretendard;
  font-weight: 300;
  font-size: 13px;
  color: #969696;
}

.item_category > :nth-child(2) {
  font-family: pretendard;
  font-weight: 500;
  font-size: 14px;
  color: #000;
}
/*  */
.product_li {
  position: relative;
  justify-content: center;
  width: 223px;
  height: 320px;
  margin-right: 38px;
  cursor: pointer;
}
.product_item_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.product_img {
  width: 100%;
  height: 223px;
  background-color: #dbdbdb;
  border-radius: 17px;

  object-fit: cover;
}

.product_category {
  margin-top: 5px;
  width: 100%;
}
.product_category > :nth-child(1) {
  font-family: pretendard;
  overflow: hidden;
  font-size: 14px;
  width: auto;
  color: #333;
  font-weight: 700;
}

.product_category > :nth-child(2) {
  font-family: pretendard;
  overflow: hidden;
  font-size: 14px;
  width: 100%;
  text-overflow: ellipsis;
  color: #222;
  font-weight: 300;
  margin-top: 1px;
}
.product_category > :nth-child(3) {
  font-family: pretendard;
  overflow: hidden;
  font-size: 15px;
  width: 100%;
  text-overflow: ellipsis;
  color: rgb(54, 54, 54);
  font-weight: 500;
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
  .cody_li {
    width: 190px;
    height: 308px;
  }
  .cody_img_container {
    width: 190px;
    height: 258px;
  }

  .input_container {
    width: 100%;
    margin: 100px auto;
  }

  .input {
    width: 500px;
    border: 0;
    border-bottom: 3px solid #222;
    font-family: pretendard;
    font-size: 25px;
    color: #000;
  }

  .product_li {
    width: 190px;
    height: 308px;
  }
  .product_img {
    width: 100%;
    height: 190px;
  }

  .item_area {
    width: 1024px;
    margin: 0 auto;
  }
  .cody_list {
    margin-top: 0px;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .cody_li {
    width: 180px;
    height: 308px;
    margin: 0 auto;
  }
  .cody_img_container {
    width: 180px;
    height: 258px;
  }
  .product_li {
    width: 180px;
    height: 308px;
  }
  .product_img {
    width: 100%;
    height: 180px;
  }
  .input_container {
    width: 100%;
    margin: 100px auto;
  }

  .input {
    width: 500px;
    border: 0;
    border-bottom: 3px solid #222;
    font-family: pretendard;
    font-size: 25px;
    color: #000;
  }

  .row {
    margin-left: 10px;
  }
  .item_area {
    width: 100%;
    margin: 0 10px;
  }
  .cody_list {
    margin-top: 10px;
  }
  .mobile_filter {
    pointer-events: all;
  }
}
@media screen and (min-width: 575px) and (max-width: 767px) {
  .item_area {
    width: 100%;
    margin: 0 auto;
  }
  .input_container {
    width: 100%;
    margin: 100px auto;
  }
  .cody_list {
    margin-top: 10px;
  }
  .cody_li {
    height: 440px;
    margin: 0 auto;
  }

  .item_container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  .item_category {
    margin-top: 5px;
  }
  .item_category > :nth-child(1) {
    font-family: pretendard;
    font-weight: 300;
    font-size: 15px;
    color: #969696;
  }

  .input {
    width: 300px;
    border: 0;
    border-bottom: 3px solid #222;
    font-family: pretendard;
    font-size: 25px;
    color: #000;
  }
  .item_category > :nth-child(2) {
    font-family: pretendard;
    font-weight: 500;
    font-size: 16px;
    color: #000;
  }

  .bookmark {
    width: 28px;
    position: relative;
    top: 5px;
    right: 3px;
    cursor: pointer;
  }
  .mobile_filter {
    pointer-events: all;
  }
}
@media screen and (min-width: 390px) and (max-width: 575px) {
  .input_container {
    width: 100%;
    margin: 100px auto;
  }
  .item_area {
    width: 100%;
    margin: 0 auto;
  }
  .cody_list {
    margin-top: 10px;
  }
  .cody_li {
    width: 190px;
    height: 308px;
    margin: 0 auto;
  }
  .cody_img_container {
    width: 190px;
    height: 259px;
    border-radius: 12px;
  }

  .input {
    width: 300px;
    border: 0;
    border-bottom: 3px solid #222;
    font-family: pretendard;
    font-size: 25px;
    color: #000;
  }
  .product_li {
    width: 190px;
    height: 308px;
  }
  .product_img {
    width: 100%;
    height: 190px;
  }

  .item_category {
    margin-top: 5px;
  }
  .bookmark {
    width: 26px;
    position: relative;
    top: 2px;
    right: 1px;
    cursor: pointer;
  }
  .mobile_filter {
    pointer-events: all;
  }
}
@media screen and (min-width: 361px) and (max-width: 390px) {
  .input_container {
    width: 100%;
    margin: 100px auto;
  }
  .item_area {
    width: 100%;
    margin: 0 auto;
  }
  .cody_list {
    margin-top: 10px;
  }
  .input {
    width: 280px;
    border: 0;
    border-bottom: 3px solid #222;
    font-family: pretendard;
    font-size: 25px;
    color: #000;
  }
  .cody_li {
    width: 180px;
    height: 308px;
    margin: 0 auto;
  }
  .cody_img_container {
    width: 180px;
    height: 258px;
  }

  .product_li {
    width: 180px;
    height: 308px;
  }
  .product_img {
    width: 100%;
    height: 180px;
  }

  .item_category {
    margin-top: 5px;
  }
  .bookmark {
    width: 26px;
    position: relative;
    top: 2px;
    right: 0;
    cursor: pointer;
  }
  .mobile_filter {
    pointer-events: all;
  }
  .product_img {
    width: 100%;
    height: 190px;
    background-color: #dbdbdb;
    border-radius: 17px;
    border-radius: 27px;
    object-fit: cover;
  }
}

@media screen and (min-width: 321px) and (max-width: 361px) {
  .input_container {
    width: 100%;
    margin: 100px auto;
  }
  .item_area {
    width: 100%;
    margin: 0 auto;
  }
  .cody_list {
    margin-top: 10px;
  }
  .input {
    width: 280px;
    border: 0;
    border-bottom: 3px solid #222;
    font-family: pretendard;
    font-size: 25px;
    color: #000;
  }
  .cody_li {
    width: 170px;
    height: 278px;
    margin: 0 auto;
  }
  .cody_img_container {
    width: 170px;
    height: 231px;
  }
  .product_li {
    width: 170px;
    height: 308px;
  }
  .product_img {
    width: 100%;
    height: 170px;
  }

  .item_category {
    margin-top: 5px;
  }
  .bookmark {
    width: 26px;
    position: relative;
    top: 2px;
    right: 0;
    cursor: pointer;
  }
  .mobile_filter {
    pointer-events: all;
  }
  .product_img {
    width: 100%;
    height: 190px;
    background-color: #dbdbdb;
    border-radius: 17px;
    border-radius: 27px;
    object-fit: cover;
  }
}

@media screen and (max-width: 321px) {
  .input_container {
    width: 100%;
    margin: 100px auto;
  }
  .cody_list {
    margin-top: 1px;
  }
  .mobile_filter {
    pointer-events: all;
  }
  .product_img {
    width: 100%;
    height: 190px;
    background-color: #dbdbdb;
    border-radius: 17px;
    border-radius: 27px;
    object-fit: cover;
  }
}
